<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sssstar.toolman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToolMan">
        <receiver
            android:name=".MyReceiver">
            <intent-filter>
                <action android:name="com.sssstar.toolman.RECEIVE_BROADCAST"/>
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity2">
            <intent-filter>
                <action android:name="com.sssstar.toolman.MAINACTIVITY2"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="sssstar"
                    android:host="toolman"
                    android:port="8888"
                    android:path="/eeee"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:mimeType="share/txt" />

                <action android:name="com.sssstar.magic.SHARE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>